.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.world {
    font-family: monospace;
    resize: none;
    border-width: 0
}

.world,
.controls,
.status,
label {
    display: flex;
    margin: 5px;
    align-items: center;
}
input {
    margin: 5px;
}
label {
    margin-right: 0.5em;
}

button {
    box-sizing: content-box;
    font-size: 1em;
    margin: 1px;
    border-radius: 6px;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    min-width: 14px;
    min-height: 14px;
}

.controls #reset {
    display: none;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 3px;
    font: 12px sans-serif;
    background: white;
    border: 1px;
    border-radius: 8px;
    border-style: solid;
    pointer-events: none;
    padding: 6px 12px;
    opacity: 0;
}
